:root {
    --white-color: white;
    
}
html {
    font-size: 62.5%;
    height: 1.8rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 6px;
}